* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #333646;
}

/* Tampilan Loading */
.bg-loader {
    background-color: #333646;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 5px solid #333646;
    border-radius: 50%;
    border-top-color: #0060C7;
    border-right-color: #0060C7;
    border-bottom-color: #0060C7;
    animation: puterin 0.6s linear infinite;
}

@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}

/* End Tampilan Loading */

.backgroundl2 ul {
    position: absolute;
    width: 636px;
    height: 1025px;
    left: 402px;
    top: 0px;

    background: #252734;
}

.backgroundhome ul {
    position: absolute;
    width: 636px;
    height: 800px;
    left: 402px;
    top: 0px;

    background: #252734;
}

/* Navbar */
.navbar ul {
    position: absolute;
    width: 588px;
    height: 71px;
    left: 426px;
    top: 25px;

    background-color: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.navbar ul li {
    display: inline-block;
    background-color: transparent;
    margin-top: 26px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 17px;
    border: 2px solid #707070;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    transition: 0.6s;
    margin: 10px;
    font-size: 10px;
    background-color: #252734;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: #404040;
}

ul li.active a {
    background-color: #fff;
    color: #404040;
}

.logo img {
    position: absolute;
    width: 84px;
    height: 42px;
    left: 860px;
    top: 37px;
    background-color: transparent;
}

/* End Navbar */


/* Tombol Subscribe */
.buttom {
    position: absolute;
    width: 107px;
    height: 33.21px;
    left: 892px;
    top: 150px;
    background-color: transparent;
}

.btn {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 17px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background-color: red;
    transition: 0.6s ease;
}

.btn:hover {
    color: white;
    background-color: gray;
}

/* End Tombol Subscribe */


/* Index atau Home */
/* Aplikasi */
.aplikasi ul {
    position: absolute;
    width: 588px;
    height: 250px;
    left: 426px;
    top: 220px;

    background-color: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.aplikasi h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;

    color: #FFFFFF;
    background-color: transparent;
}

.aplikasi p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100px;
    font-size: 10px;
    line-height: 34px;
    text-align: center;
    margin-top: 40px;

    color: #FFFFFF;
    background-color: transparent;
}

/* HomeVideoder */
.aplikasi h2 {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 100px;
    margin-left: 50px;
    margin-bottom: 5px;

    color: #FFFFFF;
    background-color: transparent;
}

.appvideoder img {
    position: absolute;
    width: auto;
    height: 50px;
    left: 480px;
    top: 305px;
    background-color: transparent;
}

/* EndHomeVideoder */
/* End Aplikasi */

/* Gambar */
.gambar ul {
    position: absolute;
    width: 588px;
    height: 250px;
    left: 426px;
    top: 500px;

    background: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.gambar h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;

    color: #FFFFFF;
    background-color: transparent;
}

.gambar h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;

    color: #FFFFFF;
    background-color: transparent;
}

.gambar p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100px;
    font-size: 10px;
    line-height: 34px;
    text-align: center;
    margin-top: 160px;

    color: #FFFFFF;
    background-color: transparent;
}

/* End Gambar */
/* End Index atau Home */


/* Halaman Aplikasi */
.halvideoderapp ul {
    position: absolute;
    width: 588px;
    height: 838px;
    left: 426px;
    top: 113px;

    background: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.sliderapp img {
    position: absolute;
    width: 516px;
    height: 108px;
    left: 457px;
    top: 132px;
    background-color: transparent;

    border-radius: 5px;
}

/* Aplikasi Videoder */
.halvideoderapp h2 {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    margin: 20px;
    margin-top: 190px;
    margin-left: 85px;
    margin-bottom: 5px;

    color: #FFFFFF;
    background-color: transparent;
}

.halvideoderapp h3 {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 12px;
    margin: 20px;
    margin-left: 85px;
    margin-top: 5px;
    font-weight: 100;

    color: #FFFFFF;
    background-color: transparent;
}

.halappvideoder img {
    position: absolute;
    width: auto;
    height: 45px;
    left: 450px;
    top: 320px;
    background-color: transparent;
}

/* End Aplikasi Videoder */
/* End Halaman Aplikasi */

/* Halaman Gambar */
.halgambar ul {
    position: absolute;
    width: 588px;
    height: 838px;
    left: 426px;
    top: 113px;

    background: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.sliderpicture img {
    position: absolute;
    width: 516px;
    height: 108px;
    left: 457px;
    top: 132px;
    background-color: transparent;

    border-radius: 5px;
}

/* End Halaman Gambar */

/* Aplikasi Videoder */
.backgroundlvideoder ul {
    position: absolute;
    width: 636px;
    height: 2285px;
    left: 402px;
    top: 0px;

    background: #252734;
}

.videoder ul {
    position: absolute;
    width: 588px;
    height: 2150px;
    left: 426px;
    top: 113px;

    background-color: #252734;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.videoder h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;

    color: #FFFFFF;
    background-color: transparent;
}

.videoder p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 19px;
    margin: 50px;
    margin-top: 120px;

    color: #FFFFFF;
    background-color: transparent;
}

.videoder p span {
    font-style: normal;
    font-weight: bold;
    background-color: transparent;
}

.videoder h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 210px;
    margin-top: 40px;

    color: #FFFFFF;
    background-color: transparent;
}

.logovideoder img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 670px;
    top: 176px;
    background-color: transparent;

    border-radius: 5px;
}

/* Tampilan Videoder */
.videoder1 img {
    position: absolute;
    width: auto;
    height: 216px;
    left: 665px;
    top: 420px;
    background-color: transparent;
}

.videoder2 img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 555px;
    top: 660px;
    background-color: transparent;
}

.videoder3 img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 555px;
    top: 985px;
}

.videoder4 img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 555px;
    top: 1310px;
}

.videoder5 img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 555px;
    top: 1640px;
}

/* End Tampilan Videoder */
/* Link Videoder */
.videotutor ul {
    position: absolute;
    width: 540px;
    height: 16px;
    left: 457px;
    top: 1960px;
    background-color: transparent;
}

.videotutor a {
    font-size: 14px;
    background-color: transparent;
    color: #22A2FF;
}

.videotutor h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
    margin-bottom: 10px;

    color: #FFFFFF;
}

.videotutor h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    margin-top: 0px;
}

.videotutor h3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 5px;
}

.videotutor h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.videotutor p {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    margin-top: 10px;

    color: #FFFFFF;
}

.thumbnailvid img {
    position: absolute;
    width: auto;
    height: 80px;
    left: 465px;
    top: 2120px;
}

.videoder a h3 {
    background-color: transparent;
}

.videoder a h3 p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin: 35px;
    margin-left: 210px;
    margin-top: 1730px;

    background-color: transparent;
    color: #FFFFFF;
}

/* End Link Videoder */
/* End Aplikasi Videoder */

/* Web Responsive */
@media (max-width: 1080px) and (min-width: 690px) {
    * {
        background-color: #252734;
    }


    /* Navbar */
    .navbar ul {
        position: absolute;
        width: 588px;
        height: 65px;
        left: 83px;
        top: 15px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }

    .navbar ul li {
        display: inline-block;
        background-color: transparent;
        margin-top: 25px;
        margin-left: 10px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        padding: 6px 16px;
        border: 1px solid #707070;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 13px;
        transition: 0.6s;
        margin: 5px;
        font-size: 12px;
        background-color: #252734;
    }

    .navbar ul li a:hover {
        background-color: #fff;
        color: #404040;
    }

    ul li.active a {
        background-color: #fff;
        color: #404040;
    }

    .logo img {
        position: absolute;
        width: auto;
        height: 55px;
        left: 520px;
        top: 21px;
        background-color: transparent;
    }

    /* End Navbar */


    /* Aplikasi Videoder */
    .backgroundlvideoder {
        display: none;
    }

    .videoder ul {
        position: absolute;
        width: 588px;
        height: 2120px;
        left: 83px;
        top: 90px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px
    }

    .videoder h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        margin-top: 15px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 90;
        font-size: 11px;
        line-height: 19px;
        margin: 30px;
        margin-top: 100px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p span {
        font-style: normal;
        font-weight: bold;
        background-color: transparent;
    }

    .videoder h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        margin-left: 0px;
        margin-top: 30px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .logovideoder img {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 340px;
        top: 155px;
        background-color: transparent;

        border-radius: 5px;
    }

    /* Tampilan Videoder */
    .videoder1 img {
        position: absolute;
        width: auto;
        height: 215px;
        left: 320px;
        top: 390px;
        background-color: transparent;
    }

    .videoder2 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 210px;
        top: 620px;
        background-color: transparent;
    }

    .videoder3 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 210px;
        top: 945px;
    }

    .videoder4 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 210px;
        top: 1270px;
    }

    .videoder5 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 210px;
        top: 1600px;
    }

    /* End Tampilan Videoder */
    /* Link Videoder */
    .videotutor ul {
        position: absolute;
        width: 400px;
        height: 15px;
        left: 180px;
        top: 1920px;
        background-color: transparent;
    }

    .videotutor a {
        font-size: 14px;
        background-color: transparent;
        color: #22A2FF;
    }

    .videotutor h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        margin-bottom: 5px;

        color: #FFFFFF;
    }

    .videotutor h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
    }

    .videotutor h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .videotutor h4 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .videotutor p {
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background-color: transparent;
        margin-top: 10px;

        color: #FFFFFF;
    }

    .thumbnailvid img {
        position: absolute;
        width: auto;
        height: 75px;
        left: 140px;
        top: 2090px;
    }

    .videoder a h3 p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        margin: 50px;
        margin-left: 215px;
        margin-top: 1765px;

        background-color: transparent;
        color: #FFFFFF;
    }

    /* End Link Videoder */
    /* End Aplikasi Videoder */
}

@media (max-width: 689px) {
    * {
        background-color: #252734;
    }


    /* Navbar */
    .navbar ul {
        position: absolute;
        width: 450px;
        height: 56px;
        left: 20px;
        top: 15px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }

    .navbar ul li {
        display: inline-block;
        background-color: transparent;
        margin-top: 20px;
        margin-left: 5px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid #707070;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 13px;
        transition: 0.6s;
        margin: 5px;
        font-size: 10px;
        background-color: #252734;
    }

    .navbar ul li a:hover {
        background-color: #fff;
        color: #404040;
    }

    ul li.active a {
        background-color: #fff;
        color: #404040;
    }

    .logo img {
        position: absolute;
        width: auto;
        height: 40px;
        left: 370px;
        top: 23px;
        background-color: transparent;
    }

    /* End Navbar */


    /* Aplikasi Videoder */
    .backgroundlvideoder {
        display: none;
    }

    .videoder ul {
        position: absolute;
        width: 450px;
        height: 2150px;
        left: 20px;
        top: 90px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px
    }

    .videoder h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        margin-top: 15px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 90;
        font-size: 11px;
        line-height: 19px;
        margin: 15px;
        margin-top: 100px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p span {
        font-style: normal;
        font-weight: bold;
        background-color: transparent;
    }

    .videoder h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        margin-left: 0px;
        margin-top: 30px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .logovideoder img {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 210px;
        top: 155px;
        background-color: transparent;

        border-radius: 5px;
    }

    /* Tampilan Videoder */
    .videoder1 img {
        position: absolute;
        width: auto;
        height: 215px;
        left: 185px;
        top: 390px;
        background-color: transparent;
    }

    .videoder2 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 75px;
        top: 620px;
        background-color: transparent;
    }

    .videoder3 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 75px;
        top: 945px;
    }

    .videoder4 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 75px;
        top: 1270px;
    }

    .videoder5 img {
        position: absolute;
        width: auto;
        height: 300px;
        left: 75px;
        top: 1600px;
    }

    /* End Tampilan Videoder */
    /* Link Videoder */
    .videotutor ul {
        position: absolute;
        width: 400px;
        height: 15px;
        left: 40px;
        top: 1920px;
        background-color: transparent;
    }

    .videotutor a {
        font-size: 14px;
        background-color: transparent;
        color: #22A2FF;
    }

    .videotutor h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        margin-bottom: 5px;

        color: #FFFFFF;
    }

    .videotutor h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
    }

    .videotutor h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .videotutor h4 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .videotutor p {
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background-color: transparent;
        margin-top: 10px;

        color: #FFFFFF;
    }

    .thumbnailvid img {
        position: absolute;
        width: auto;
        height: 75px;
        left: 40px;
        top: 2090px;
    }

    .videoder a h3 p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        margin: 20px;
        margin-left: 170px;
        margin-top: 1765px;

        background-color: transparent;
        color: #FFFFFF;
    }

    /* End Link Videoder */
    /* End Aplikasi Videoder */
}

@media (max-width: 530px) and (min-width: 390px) {
    * {
        background-color: #252734;
    }


    /* Navbar */
    .navbar ul {
        position: absolute;
        width: 350px;
        height: 56px;
        left: 20px;
        top: 15px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }

    .navbar ul li {
        display: inline-block;
        background-color: transparent;
        margin-top: 20px;
        margin-left: 4px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        padding: 3px 12px;
        border: 1px solid #707070;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 13px;
        transition: 0.6s;
        margin: 2px;
        font-size: 9px;
        background-color: #252734;
    }

    .navbar ul li a:hover {
        background-color: #fff;
        color: #404040;
    }

    ul li.active a {
        background-color: #fff;
        color: #404040;
    }

    .logo img {
        position: absolute;
        width: auto;
        height: 40px;
        left: 287px;
        top: 23px;
        background-color: transparent;
    }

    /* End Navbar */


    /* Aplikasi Videoder */
    .backgroundlvideoder {
        display: none;
    }

    .videoder ul {
        position: absolute;
        width: 350px;
        height: 1950px;
        left: 20px;
        top: 90px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px
    }

    .videoder h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 34px;
        text-align: center;
        margin-top: 15px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 90;
        font-size: 10px;
        line-height: 19px;
        margin: 15px;
        margin-top: 90px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p span {
        font-style: normal;
        background-color: transparent;
    }

    .videoder h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 450;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        margin-left: 0px;
        margin-top: 20px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .logovideoder img {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 170px;
        top: 155px;
        background-color: transparent;

        border-radius: 5px;
    }

    /* Tampilan Videoder */
    .videoder1 img {
        position: absolute;
        width: auto;
        height: 215px;
        left: 140px;
        top: 375px;
        background-color: transparent;
    }

    .videoder2 img {
        position: absolute;
        width: auto;
        height: 250px;
        left: 55px;
        top: 620px;
        background-color: transparent;
    }

    .videoder3 img {
        position: absolute;
        width: auto;
        height: 250px;
        left: 55px;
        top: 900px;
    }

    .videoder4 img {
        position: absolute;
        width: auto;
        height: 250px;
        left: 55px;
        top: 1180px;
    }

    .videoder5 img {
        position: absolute;
        width: auto;
        height: 250px;
        left: 55px;
        top: 1460px;
    }

    /* End Tampilan Videoder */
    /* Link Videoder */
    .videotutor ul {
        position: absolute;
        width: 385px;
        height: 15px;
        left: 0px;
        top: 1750px;
        background-color: transparent;
    }

    .videotutor a {
        font-size: 13px;
        background-color: transparent;
        color: #22A2FF;
    }

    .videotutor h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        margin-bottom: 5px;

        color: #FFFFFF;
    }

    .videotutor h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
    }

    .videotutor h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .videotutor h4 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .videotutor p {
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 250;
        font-size: 12px;
        background-color: transparent;
        margin-top: 10px;

        color: #FFFFFF;
    }

    .thumbnailvid img {
        position: absolute;
        width: auto;
        height: 75px;
        left: 40px;
        top: 1910px;
    }

    .videoder a h3 p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        margin: 20px;
        margin-left: 170px;
        margin-top: 1580px;

        background-color: transparent;
        color: #FFFFFF;
    }

    /* End Link Videoder */
    /* End Aplikasi Videoder */
}

@media (max-width: 578px) {
    * {
        background-color: #252734;
    }


    /* Navbar */
    .navbar ul {
        position: absolute;
        width: 335px;
        height: 56px;
        left: 7px;
        top: 15px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }

    .navbar ul li {
        display: inline-block;
        background-color: transparent;
        margin-top: 17px;
        margin-left: 4px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        padding: 3px 11px;
        border: 1px solid #707070;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 13px;
        transition: 0.6s;
        margin: 1px;
        font-size: 9px;
        background-color: #252734;
    }

    .navbar ul li a:hover {
        background-color: #fff;
        color: #404040;
    }

    ul li.active a {
        background-color: #fff;
        color: #404040;
    }

    .logo img {
        position: absolute;
        width: auto;
        height: 40px;
        left: 265px;
        top: 23px;
        background-color: transparent;
    }

    /* End Navbar */


    /* Aplikasi Videoder */
    .backgroundlvideoder {
        display: none;
    }

    .videoder ul {
        position: absolute;
        width: 335px;
        height: 1950px;
        left: 6px;
        top: 90px;

        background: #252734;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px
    }

    .videoder h1 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 34px;
        text-align: center;
        margin-top: 15px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 90;
        font-size: 10px;
        line-height: 19px;
        margin: 13px;
        margin-top: 90px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .videoder p span {
        font-style: normal;
        background-color: transparent;
    }

    .videoder h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        margin-left: 0px;
        margin-top: 20px;

        color: #FFFFFF;
        background-color: transparent;
    }

    .logovideoder img {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 147px;
        top: 155px;
        background-color: transparent;

        border-radius: 5px;
    }

    /* Tampilan Videoder */
    .videoder1 img {
        position: absolute;
        width: auto;
        height: 214px;
        left: 119px;
        top: 375px;
        background-color: transparent;
    }

    .videoder2 img {
        position: absolute;
        width: auto;
        height: 249px;
        left: 33px;
        top: 620px;
        background-color: transparent;
    }

    .videoder3 img {
        position: absolute;
        width: auto;
        height: 249px;
        left: 33px;
        top: 900px;
    }

    .videoder4 img {
        position: absolute;
        width: auto;
        height: 249px;
        left: 33px;
        top: 1180px;
    }

    .videoder5 img {
        position: absolute;
        width: auto;
        height: 249px;
        left: 33px;
        top: 1460px;
    }

    /* End Tampilan Videoder */
    /* Link Videoder */
    .videotutor ul {
        position: absolute;
        width: 370px;
        height: 15px;
        left: -12px;
        top: 1730px;
        background-color: transparent;
    }

    .videotutor a {
        font-size: 13px;
        background-color: transparent;
        color: #22A2FF;
    }

    .videotutor h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        background-color: transparent;
        margin-bottom: 5px;

        color: #FFFFFF;
    }

    .videotutor h2 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
    }

    .videotutor h3 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .videotutor h4 {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .videotutor p {
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 250;
        font-size: 12px;
        background-color: transparent;
        margin-top: 25px;

        color: #FFFFFF;
    }

    .thumbnailvid img {
        position: absolute;
        width: auto;
        height: 75px;
        left: 29px;
        top: 1907px;
    }

    .videoder a h3 p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        margin: 10px;
        margin-left: 170px;
        margin-top: 1565px;

        background-color: transparent;
        color: #FFFFFF;
    }

    /* End Link Videoder */
    /* End Aplikasi Videoder */
}

/* End Web Responsive */